@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(gambar.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

.login-box{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.50);
  padding: 20px;
  width: 270;
  box-shadow: 0 0 5px 5px white;
}

.textbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 2px solid white;
  padding: 8px 0;
}

.textbox i{
  color: white;
}

.textbox input{
 width: 100%;
 padding: 0 10px;
 background: none;
 border: none;
 outline: none;
 color: white;
 font-size: 18px;
}

.textbox input::placeholder{
  color: white;
}

.btnlogin{
  width: 100%;
  background: none;
  padding: 10px;
  border: 1px solid white;
  font-size: 18px;
  letter-spacing: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s
 }
